<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-segment>
    <div class="butcol">
      <button ion-button clear class="colbut" (click)="showPrompt('saldo')">
        SALDO
      </button>
    </div>
    <div class="butcol">
      <button ion-button color="danger" clear class="colbut">
        KALENDER
      </button>
    </div>
    <div class="butcol">
      <button ion-button color="danger" clear class="colbut" (click)="agenCheck()">
        QR CODE
      </button>
    </div>
  </ion-segment> -->
  <ion-segment [(ngModel)]="taskType">
    <ion-segment-button value="generate">
      Generate QR
    </ion-segment-button>
    <ion-segment-button value="scan">
      Scan QR
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="taskType=='generate'" >
      <ion-list>
           <ion-item>
             <ion-label>Jumlah Transaksi</ion-label>
             <ion-input type="text" name="amount" [(ngModel)]="selectedamountstr" (change)="isnan($event.target.value)?$event.target.value='':onChangePrice($event.target.value)" (keyup)="isnan($event.target.value)?$event.target.value='':onPriceUp($event.target.value)" (focus)="($event.target.value='')"></ion-input>
           </ion-item>
     
           <ion-item>
            <ion-label stacked>Keterangan</ion-label>
            <ion-textarea type="text" rows="3" maxLength="500" [(ngModel)]="keterangan" name="note" textarea></ion-textarea>
          </ion-item>
     
           <div padding>
             <button ion-button color="primary" block (click)="checkForm();">SUBMIT</button>
           </div>
     
         </ion-list>
  </div>

  <div *ngIf="taskType=='scan'">

    <ion-segment  style="margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);">
  
      <button (click)="scanQR()" style="height:200px; width:200px; border-radius:100px; font-size:25px; border-style:solid;"ion-button outline round icon-start>
          <ion-icon  name="qr-scanner">
            </ion-icon>
          Scan QR
      </button>


    </ion-segment>


  </div>

  <!-- <ion-slides pager='true' loop='true' autoplay='10000' style="max-height:40%">
    <ion-slide>
      <img src="assets/img/slide1.jpg" style=" height: auto; margin-left: auto; margin-right: auto;">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/slide2.jpg" style=" height: auto; margin-left: auto; margin-right: auto;">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/slide3.jpg" style=" height: auto; margin-left: auto; margin-right: auto;">
    </ion-slide>
  </ion-slides>
  <div class="spacer" style="height: 30px;"></div>
  <div class="container">
    <div class="butcolmenu" button (click)="gotoPage('LakupandaiPage')">
      <img src="assets/img/lakupandai.png" class="imgbutton">
    </div>
    <div button class="butcolmenu" (click)="gotoPage('MobilePage')">
      <img src="assets/img/mobile.png" class="imgbutton">
    </div>
    <div class="butcolmenu" button (click)="gotoPage('ProdukperbankanPage')">
      <img src="assets/img/produk.png" class="imgbutton">
    </div>
  </div>
  <div class="spacer" style="height: 30px;"></div>
  <div class="container">
    <div class="butcolmenu" button (click)="gotoPage('PembelianPage')">
      <img src="assets/img/pembelian.png" class="imgbutton">
    </div>
    <div class="butcolmenu" button (click)="gotoPage('PembayaranPage')">
      <img src="assets/img/pembayaran.png" class="imgbutton">
    </div>
    <div class="butcolmenu" button (click)="gotoPage('ReportPage')">
      <img src="assets/img/report.png" class="imgbutton">

    </div>
  </div> -->


</ion-content>
